<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ _('Login') }}</title>
</head>

<body class="homepage {{ current_theme | default('light') }}-theme">

    <header>
        <nav class="home_nav">
            <!-- TOP ROW -->
            <div class="nav_top_row">
                <h1 class="home_naslov">MySeries</h1>

                <div class="profile_section">
                    {% if session.get('username') %}
                    <div class="nav_user_container">
                        <span class="nav_username">{{ session.username }}</span>

                        <a href="/profile" class="nav-profile-bubble">

                            {% if session.get('profile_pic') %}
                            <img src="{{ url_for('static', filename='PROFILE_PIC/' + session.profile_pic) }}" class="nav-avatar">
                            {% else %}
                            {{ session.username[0] | upper }}
                            {% endif %}

                        </a>
                    </div>
                    {% else %}
                    <a href="/login" class="nav-profile-bubble login-icon">?</a>
                    {% endif %}
                </div>
            </div>

            <!-- BOTTOM ROW -->
            <div class="nav_bottom_row">
                <a href="/">{{ _('Home') }}</a>
                <a href="/series">{{ _('Series') }}</a>

                {% if session.get('username') %}
                <a href="/my_series">{{ _('My Series') }}</a>
                {% endif %}
                <a href="/about_us">{{ _('About us') }}</a>

                {% if not session.get('username') %}
                <a href="/register">{{ _('Register') }}</a>
                <a href="/login">{{ _('Login') }}</a>
                {% endif %}
            </div>
        </nav>
    </header>


    <section class="series-list">

        <h2 class="home_podnaslov">{{ _('Login') }}</h2>

        <div class="form-card">

            {% for category, msg in get_flashed_messages(with_categories=true) %}
            <p style="color:white; margin-bottom:10px;">{{ _(msg) }}</p>
            {% endfor %}

            <form method="POST" style="display:flex;flex-direction:column;gap:15px;">

                <input type="text" name="username" placeholder="{{ _('Username') }}" class="series-search" required>

                <input type="password" name="password" placeholder="{{ _('Password') }}" class="series-search" required>

                <button type="submit" class="primary-btn">{{ _('Login') }}</button>


            </form>

        </div>

    </section>

    <footer class="footer">
        <p>{{ _('Copyright') }} &copy; MySeries 2024</p>
    </footer>

</body>

</html>